@import 'grid.css';

.site-header {
    display: flex;
    margin-top:  31px;
    margin-left: 153px;
}

.site-header_logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
    color: #141720;
    text-decoration: none;
}


.main-menu {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.5px;

    color: #5D5F65;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
}


.main-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 8px 10px;
}

.main-menu a:hover {
    color: red;
    transition: color, 3s, ease;
}

.header-h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 54px;
    font-size: 44px;
    text-align: center;
    letter-spacing: 1px;

    color: #141720;

    width: 100%;
    padding-top: 269px;
}

.header-h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.5px;

    color: #5D5F65;
}

.formstyle {
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
}